In [1]:
import math
from typing import Iterator
from datetime import datetime, timedelta

import numpy as np
import pandas as pd

In [4]:
# Download Data-Set
# !wget https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-12-2021.csv

# Ler CSV pela URL
# cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-12-2021.csv', sep=',')

# Fiz o upload do Data-set usado neste trabalho para o Kaggle.
cases = pd.read_csv('merged_cases.csv', sep=',')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21200\1537515190.py:8: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  cases = pd.read_csv('merged_cases.csv', sep=',')

In [5]:
cases.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date,Province/State,Country/Region,Last Update
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,8585.0,Afghanistan,134.896578,4.191343,01-01-2021,NaN,NaN,NaN
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,23501.0,Albania,2026.409062,2.025173,01-01-2021,NaN,NaN,NaN
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,29740.0,Algeria,227.809861,2.764848,01-01-2021,NaN,NaN,NaN
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,570.0,Andorra,10505.403482,1.034865,01-01-2021,NaN,NaN,NaN
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,6017.0,Angola,53.452981,2.305328,01-01-2021,NaN,NaN,NaN

In [6]:
def date_range(start_date: datetime, end_date: datetime) -> Iterator[datetime]:
  date_range_days: int = (end_date - start_date).days
  for lag in range(date_range_days):
    yield start_date + timedelta(lag)

In [7]:
start_date = datetime(2021,  1,  1)
end_date   = datetime(2021, 12, 31)

In [10]:
import pandas as pd

cases = None
cases_is_empty = True

# Read the merged CSV file once (instead of in a loop)
data_source_url = 'merged_cases.csv'
full_data = pd.read_csv(data_source_url, sep=',')

# Ensure the 'Date' column exists in the dataset
full_data['Date'] = pd.to_datetime(full_data['Date'])

# Iterate over date range and filter data for each date
for date in pd.date_range(start=start_date, end=end_date):
    date_str = date.strftime('%Y-%m-%d')  # Match Date format

    case = full_data[full_data['Date'] == date_str].copy()  # Filter by date

    # Drop unwanted columns if they exist
    drop_cols = ['FIPS', 'Admin2', 'Last_Update', 'Lat', 'Long_', 
                 'Recovered', 'Active', 'Combined_Key', 'Case_Fatality_Ratio']
    case = case.drop(columns=[col for col in drop_cols if col in case.columns])

    if cases_is_empty:
        cases = case
        cases_is_empty = False
    else:
        cases = pd.concat([cases, case], ignore_index=True)  # Use pd.concat

print("Processed dataset:")
print(cases.head())  # Display first few rows

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21200\488325206.py:8: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  full_data = pd.read_csv(data_source_url, sep=',')

Processed dataset:
  Province_State Country_Region  Confirmed  Deaths  Incident_Rate       Date  \
0            NaN    Afghanistan    52513.0  2201.0     134.896578 2021-01-01
1            NaN        Albania    58316.0  1181.0    2026.409062 2021-01-01
2            NaN        Algeria    99897.0  2762.0     227.809861 2021-01-01
3            NaN        Andorra     8117.0    84.0   10505.403482 2021-01-01
4            NaN         Angola    17568.0   405.0      53.452981 2021-01-01

  Province/State Country/Region Last Update
0            NaN            NaN         NaN
1            NaN            NaN         NaN
2            NaN            NaN         NaN
3            NaN            NaN         NaN
4            NaN            NaN         NaN

In [11]:
cases.head()

,Province_State,Country_Region,Confirmed,Deaths,Incident_Rate,Date,Province/State,Country/Region,Last Update
0,NaN,Afghanistan,52513.0,2201.0,134.896578,2021-01-01,NaN,NaN,NaN
1,NaN,Albania,58316.0,1181.0,2026.409062,2021-01-01,NaN,NaN,NaN
2,NaN,Algeria,99897.0,2762.0,227.809861,2021-01-01,NaN,NaN,NaN
3,NaN,Andorra,8117.0,84.0,10505.403482,2021-01-01,NaN,NaN,NaN
4,NaN,Angola,17568.0,405.0,53.452981,2021-01-01,NaN,NaN,NaN

In [12]:
cases.shape

(240768, 9)

In [13]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240768 entries, 0 to 240767
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province_State  230068 non-null  object
 1   Country_Region  240768 non-null  object
 2   Confirmed       240768 non-null  float64
 3   Deaths          240768 non-null  float64
 4   Incident_Rate   235396 non-null  float64
 5   Date            240768 non-null  datetime64[ns]
 6   Province/State  0 non-null       object
 7   Country/Region  0 non-null       object
 8   Last Update     0 non-null       object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 16.5+ MB

In [14]:
cases = cases.rename(
  columns={
    'Province_State': 'state',
    'Country_Region': 'country'
  }
)

for col in cases.columns:
  cases = cases.rename(columns={col: col.lower()})

In [15]:
states_map = {
    'Amapa': 'Amapá',
    'Ceara': 'Ceará',
    'Espirito Santo': 'Espírito Santo',
    'Goias': 'Goiás',
    'Para': 'Pará',
    'Paraiba': 'Paraíba',
    'Parana': 'Paraná',
    'Piaui': 'Piauí',
    'Rondonia': 'Rondônia',
    'Sao Paulo': 'São Paulo'
}

cases['state'] = cases['state'].apply(lambda state: states_map.get(state) if state in states_map.keys() else state)

In [16]:
cases['month'] = cases['date'].apply(lambda date: date.strftime('%Y-%m'))
cases['year']  = cases['date'].apply(lambda date: date.strftime('%Y'))

In [17]:
cases['population'] = round(100000 * (cases['confirmed'] / cases['incident_rate']))
cases = cases.drop('incident_rate', axis=1)

| 1 | 2 | 3 | 4 | 5 | 6 | <font color='red'>7</font> | <font color='green'>8</font> | 9 | 10 | 11 | 12 | 13 | <font color='blue'>14<font color='red'> | 15 | 16 | 17 | 18 | 19 | 20 | 21 |
| - | - | - | - | - | - | - | - | - | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |
| <font color='red'>D-6</font> | <font color='red'>D-5</font> | <font color='red'>D-4</font> | <font color='red'>D-3</font> | <font color='red'>D-2</font> | <font color='red'>D-1</font> | <font color='red'>D0</font> | | | | | | | | | | | | | | |
| D-7 | <font color='green'>D-6</font> | <font color='green'>D-5</font> | <font color='green'>D-4</font> | <font color='green'>D-3</font> | <font color='green'>D-2</font> | <font color='green'>D-1</font> | <font color='green'>D0</font> | | | | | | | | | | | | | |
| D-13 | D-12 | D-11 | D-10 | D-9 | D-8 | D-7 | <font color='blue'>D-6</font> | <font color='blue'>D-5</font> | <font color='blue'>D-4</font> | <font color='blue'>D-3</font> | <font color='blue'>D-2</font> | <font color='blue'>D-1</font> | <font color='blue'>D0</font> | | | | | | | |

In [20]:
import numpy as np
import pandas as pd

cases_ = None
cases_is_empty = True

def get_trend(rate: float) -> str:
    if np.isnan(rate):
        return np.nan
    if rate < 0.75:
        return 'downward'
    elif rate > 1.15:
        return 'upward'
    else:
        return 'stable'

# Store processed data in a list before concatenation (better performance)
processed_cases = []

for state in cases['state'].drop_duplicates():
    cases_per_state = cases[cases['state'] == state].copy()
    cases_per_state = cases_per_state.sort_values(by=['date'])

    # Compute trends for confirmed cases
    cases_per_state['confirmed_1d'] = cases_per_state['confirmed'].diff(periods=1)
    cases_per_state['confirmed_moving_avg_7d'] = np.ceil(cases_per_state['confirmed_1d'].rolling(window=7).mean())
    cases_per_state['confirmed_moving_avg_7d_rate_14d'] = (
        cases_per_state['confirmed_moving_avg_7d'] / cases_per_state['confirmed_moving_avg_7d'].shift(periods=14)
    )
    cases_per_state['confirmed_trend'] = cases_per_state['confirmed_moving_avg_7d_rate_14d'].apply(get_trend)

    # Compute trends for deaths
    cases_per_state['deaths_1d'] = cases_per_state['deaths'].diff(periods=1)
    cases_per_state['deaths_moving_avg_7d'] = np.ceil(cases_per_state['deaths_1d'].rolling(window=7).mean())
    cases_per_state['deaths_moving_avg_7d_rate_14d'] = (
        cases_per_state['deaths_moving_avg_7d'] / cases_per_state['deaths_moving_avg_7d'].shift(periods=14)
    )
    cases_per_state['deaths_trend'] = cases_per_state['deaths_moving_avg_7d_rate_14d'].apply(get_trend)

    # Append to list instead of concatenating in each iteration (faster)
    processed_cases.append(cases_per_state)

# Concatenate all processed states into one DataFrame
cases = pd.concat(processed_cases, ignore_index=True)

In [23]:
# Define the desired column order
desired_columns = [
    'date', 'country', 'state', 'population', 'confirmed', 'confirmed_1d', 
    'confirmed_moving_avg_7d', 'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend',
    'deaths', 'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d', 
    'deaths_trend', 'month', 'year'
]

# Select only columns that exist in the DataFrame (to avoid KeyErrors)
existing_columns = [col for col in desired_columns if col in cases.columns]

# Reorder the DataFrame based on available columns
cases = cases[existing_columns]

In [24]:
cases = cases[['date', 'country', 'state', 'population', 'confirmed', 'confirmed_1d', 'confirmed_moving_avg_7d', 'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend', 'deaths', 'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d', 'deaths_trend', 'month', 'year']]

In [25]:
cases.head(n=25)

,date,country,state,population,confirmed,confirmed_1d,confirmed_moving_avg_7d,confirmed_moving_avg_7d_rate_14d,confirmed_trend,deaths,deaths_1d,deaths_moving_avg_7d,deaths_moving_avg_7d_rate_14d,deaths_trend,month,year
0,2021-01-01,Australia,Australian Capital Territory,428100.0,118.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2021-01,2021
1,2021-01-01,Australia,Australian Capital Territory,428100.0,118.0,0.0,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,2021-01,2021
2,2021-01-02,Australia,Australian Capital Territory,428100.0,118.0,0.0,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,2021-01,2021
3,2021-01-02,Australia,Australian Capital Territory,428100.0,118.0,0.0,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,2021-01,2021
4,2021-01-03,Australia,Australian Capital Territory,428100.0,118.0,0.0,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,2021-01,2021
5,2021-01-03,Australia,Australian Capital Territory,428100.0,118.0,0.0,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,2021-01,2021
6,2021-01-04,Australia,Australian Capital Territory,428100.0,118.0,0.0,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,2021-01,2021
7,2021-01-04,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
8,2021-01-05,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
9,2021-01-05,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
10,2021-01-06,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
11,2021-01-06,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
12,2021-01-07,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
13,2021-01-07,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
14,2021-01-08,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
15,2021-01-08,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
16,2021-01-09,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
17,2021-01-09,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
18,2021-01-10,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
19,2021-01-10,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
20,2021-01-11,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
21,2021-01-11,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
22,2021-01-12,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
23,2021-01-12,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021
24,2021-01-13,Australia,Australian Capital Territory,428100.0,118.0,0.0,0.0,NaN,NaN,3.0,0.0,0.0,NaN,NaN,2021-01,2021

In [28]:
cases.to_csv('./covid-cases.csv', sep=',', index=False)

In [29]:
vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',', parse_dates=[3], infer_datetime_format=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21200\738699849.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',', parse_dates=[3], infer_datetime_format=True)

In [30]:
vaccines.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [31]:

vaccines = vaccines[['location', 'population', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'date']]

In [32]:
vaccines.head()

,location,population,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,date
0,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-05
1,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-06
2,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-07
3,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-08
4,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-09

In [33]:
vaccines.head()

,location,population,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,date
0,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-05
1,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-06
2,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-07
3,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-08
4,Afghanistan,41128772,NaN,NaN,NaN,NaN,2020-01-09

In [34]:
vaccines.shape

(429435, 7)

In [35]:
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   location                 429435 non-null  object
 1   population               429435 non-null  int64
 2   total_vaccinations       85417 non-null   float64
 3   people_vaccinated        81132 non-null   float64
 4   people_fully_vaccinated  78061 non-null   float64
 5   total_boosters           53600 non-null   float64
 6   date                     429435 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 22.9+ MB

In [36]:
vaccines = vaccines.fillna(method='ffill')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21200\1781271583.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  vaccines = vaccines.fillna(method='ffill')

In [37]:
vaccines = vaccines[(vaccines['date'] >= '2021-01-01') & (vaccines['date'] <= '2021-12-31')].reset_index(drop=True)

In [38]:
vaccines = vaccines.rename(
  columns={
    'location': 'country',
    'total_vaccinations': 'total',
    'people_vaccinated': 'one_shot',
    'people_fully_vaccinated': 'two_shots',
    'total_boosters': 'three_shots',
  }
)

In [39]:
vaccines['month'] = vaccines['date'].apply(lambda date: date.strftime('%Y-%m'))
vaccines['year']  = vaccines['date'].apply(lambda date: date.strftime('%Y'))

In [40]:
vaccines['one_shot_perc'] = round(vaccines['one_shot'] / vaccines['population'], 4)
vaccines['two_shots_perc'] = round(vaccines['two_shots'] / vaccines['population'], 4)
vaccines['three_shots_perc'] = round(vaccines['three_shots'] / vaccines['population'], 4)

In [41]:
vaccines['population'] = vaccines['population'].astype('Int64')
vaccines['total'] = vaccines['total'].astype('Int64')
vaccines['one_shot'] = vaccines['one_shot'].astype('Int64')
vaccines['two_shots'] = vaccines['two_shots'].astype('Int64')
vaccines['three_shots'] = vaccines['three_shots'].astype('Int64')

In [42]:
vaccines = vaccines[['date', 'country', 'population', 'total', 'one_shot', 'one_shot_perc', 'two_shots', 'two_shots_perc', 'three_shots', 'three_shots_perc', 'month', 'year']]

In [43]:
vaccines.tail()

,date,country,population,total,one_shot,one_shot_perc,two_shots,two_shots_perc,three_shots,three_shots_perc,month,year
95083,2021-12-27,Zimbabwe,16320539,7222381,4105296,0.2515,3113142,0.1907,3943,0.0002,2021-12,2021
95084,2021-12-28,Zimbabwe,16320539,7226334,4107151,0.2517,3115190,0.1909,3993,0.0002,2021-12,2021
95085,2021-12-29,Zimbabwe,16320539,7238939,4112517,0.2520,3121776,0.1913,4646,0.0003,2021-12,2021
95086,2021-12-30,Zimbabwe,16320539,7238939,4112517,0.2520,3121776,0.1913,4646,0.0003,2021-12,2021
95087,2021-12-31,Zimbabwe,16320539,7264791,4124378,0.2527,3135168,0.1921,5245,0.0003,2021-12,2021

In [44]:
vaccines.to_csv('./covid-vaccines.csv', sep=',', index=False)